<?php $this->extends('layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container">
    <h1>Title</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni provident numquam adipisci quasi ad facilis doloribus repellat facere deleniti odit aperiam inventore culpa voluptate, qui quae consectetur laboriosam eveniet repudiandae praesentium, id placeat dolor iure iusto. Impedit, doloribus! Accusamus sit, aperiam possimus impedit itaque vitae blanditiis placeat officiis cumque facere.</p>
</div>
<?php $this->end() ?>
