<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><?php if (!empty($title)):?><?= $title ?> &mdash; <?php endif ?>  AppName</title>

    <!-- Include stylesheets -->
    <link rel="stylesheet" href="/static/css/site.css">
    <?= !empty($styles) ? $styles : ''?>
</head>
<body>
    <!-- Insert rendered content -->
    <?= !empty($content) ? $content : ''?>

    <!-- Ìnclude scripts -->
    <script src="/static/js/site.js"></script>
    <?= !empty($scripts) ? $scripts : ''?>
</body>
</html>
